meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")

// Link
link(rel="stylesheet", href="css/main.css")

// Data
title #{title}
meta(author="#{author}")
meta(description="#{description}")

// OGP
meta(property="og:title", content="#{title}")
meta(property="og:description", content="#{description}")
meta(property="og:type", content="article")
meta(property="og:url", content="#{ogp_url}")
meta(property="og:image", content="#{ogp_image}")
meta(property="og:locale", content="ja_JP")

// OGP for Twitter
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="#{ogp_twitter}")
meta(name="twitter:creator", content="#{ogp_twitter}")
meta(name="twitter:image", content="#{ogp_image}")
